(edif HC153
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2024 12 29 15 22 16)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC153 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port E (direction INPUT))
           (port (array (rename s "S[1:0]") 2) (direction INPUT))
           (port (array (rename i "I[3:0]") 4) (direction INPUT))
           (port Y (direction OUTPUT))
         )
         (contents
          (instance I_pmux_3 (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance I_pmux_2 (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance I_pmux_1 (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance Y_pad_RNO (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance Y_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename I_pad_3 "I_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename I_pad_2 "I_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename I_pad_1 "I_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename I_pad_0 "I_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename S_pad_1 "S_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename S_pad_0 "S_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance E_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename I_pmuxZ0Z_1 "I_pmux_1") (joined
           (portRef Y (instanceRef I_pmux_1))
           (portRef A (instanceRef I_pmux_3))
          ))
          (net (rename I_pmuxZ0Z_2 "I_pmux_2") (joined
           (portRef Y (instanceRef I_pmux_2))
           (portRef B (instanceRef I_pmux_3))
          ))
          (net I_pmux (joined
           (portRef Y (instanceRef I_pmux_3))
           (portRef A (instanceRef Y_pad_RNO))
          ))
          (net E_c (joined
           (portRef Y (instanceRef E_pad))
           (portRef B (instanceRef Y_pad_RNO))
          ))
          (net E (joined
           (portRef E)
           (portRef PAD (instanceRef E_pad))
          ))
          (net (rename S_c_0 "S_c[0]") (joined
           (portRef Y (instanceRef S_pad_0))
           (portRef S (instanceRef I_pmux_3))
          ))
          (net (rename S_0 "S[0]") (joined
           (portRef (member s 1))
           (portRef PAD (instanceRef S_pad_0))
          ))
          (net (rename S_c_1 "S_c[1]") (joined
           (portRef Y (instanceRef S_pad_1))
           (portRef S (instanceRef I_pmux_1))
           (portRef S (instanceRef I_pmux_2))
          ))
          (net (rename S_1 "S[1]") (joined
           (portRef (member s 0))
           (portRef PAD (instanceRef S_pad_1))
          ))
          (net (rename I_c_0 "I_c[0]") (joined
           (portRef Y (instanceRef I_pad_0))
           (portRef A (instanceRef I_pmux_1))
          ))
          (net (rename I_0 "I[0]") (joined
           (portRef (member i 3))
           (portRef PAD (instanceRef I_pad_0))
          ))
          (net (rename I_c_1 "I_c[1]") (joined
           (portRef Y (instanceRef I_pad_1))
           (portRef A (instanceRef I_pmux_2))
          ))
          (net (rename I_1 "I[1]") (joined
           (portRef (member i 2))
           (portRef PAD (instanceRef I_pad_1))
          ))
          (net (rename I_c_2 "I_c[2]") (joined
           (portRef Y (instanceRef I_pad_2))
           (portRef B (instanceRef I_pmux_1))
          ))
          (net (rename I_2 "I[2]") (joined
           (portRef (member i 1))
           (portRef PAD (instanceRef I_pad_2))
          ))
          (net (rename I_c_3 "I_c[3]") (joined
           (portRef Y (instanceRef I_pad_3))
           (portRef B (instanceRef I_pmux_2))
          ))
          (net (rename I_3 "I[3]") (joined
           (portRef (member i 0))
           (portRef PAD (instanceRef I_pad_3))
          ))
          (net Y_c (joined
           (portRef Y (instanceRef Y_pad_RNO))
           (portRef D (instanceRef Y_pad))
          ))
          (net Y (joined
           (portRef PAD (instanceRef Y_pad))
           (portRef Y)
          ))
         )
        (property orig_inst_of (string "HC153"))
       )
    )
  )
  (design HC153 (cellRef HC153 (libraryRef work)))
)
