(edif (rename Z_74HC112 "_74HC112")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2024 12 29 14 56 1)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell MX2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (!B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1P1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename Z_74HC112 "_74HC112") (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port S (direction INPUT))
           (port R (direction INPUT))
           (port Clk (direction INPUT))
           (port J (direction INPUT))
           (port K (direction INPUT))
           (port Q (direction OUTPUT))
           (port Q_N (direction OUTPUT))
         )
         (contents
          (instance Q_c_i (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance Q_0 (viewRef prim (cellRef MX2B (libraryRef PA3)))          )
          (instance (rename QZ0 "Q") (viewRef prim (cellRef DFN1P1C1 (libraryRef PA3)))
          )
          (instance Q_N_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance K_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance J_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Clk_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance R_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance S_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net N_19_mux (joined
           (portRef Y (instanceRef Q_0))
           (portRef D (instanceRef QZ0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net S_c (joined
           (portRef Y (instanceRef S_pad))
           (portRef PRE (instanceRef QZ0))
          ))
          (net S (joined
           (portRef S)
           (portRef PAD (instanceRef S_pad))
          ))
          (net R_c (joined
           (portRef Y (instanceRef R_pad))
           (portRef CLR (instanceRef QZ0))
          ))
          (net R (joined
           (portRef R)
           (portRef PAD (instanceRef R_pad))
          ))
          (net Clk_c (joined
           (portRef Y (instanceRef Clk_pad))
           (portRef CLK (instanceRef QZ0))
          ))
          (net Clk (joined
           (portRef Clk)
           (portRef PAD (instanceRef Clk_pad))
          ))
          (net J_c (joined
           (portRef Y (instanceRef J_pad))
           (portRef A (instanceRef Q_0))
          ))
          (net J (joined
           (portRef J)
           (portRef PAD (instanceRef J_pad))
          ))
          (net K_c (joined
           (portRef Y (instanceRef K_pad))
           (portRef B (instanceRef Q_0))
          ))
          (net K (joined
           (portRef K)
           (portRef PAD (instanceRef K_pad))
          ))
          (net Q_c (joined
           (portRef Q (instanceRef QZ0))
           (portRef D (instanceRef Q_pad))
           (portRef S (instanceRef Q_0))
           (portRef A (instanceRef Q_c_i))
          ))
          (net Q (joined
           (portRef PAD (instanceRef Q_pad))
           (portRef Q)
          ))
          (net Q_N (joined
           (portRef PAD (instanceRef Q_N_pad))
           (portRef Q_N)
          ))
          (net (rename Q_c_iZ0 "Q_c_i") (joined
           (portRef Y (instanceRef Q_c_i))
           (portRef D (instanceRef Q_N_pad))
          ))
         )
        (property orig_inst_of (string "_74HC112"))
       )
    )
  )
  (design (rename Z_74HC112 "_74HC112") (cellRef Z_74HC112 (libraryRef work)))
)
