(edif (rename Z_74HC74 "_74HC74")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2024 12 29 15 4 3)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1P1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename Z_74HC74 "_74HC74") (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Set (direction INPUT))
           (port Reset (direction INPUT))
           (port Clk (direction INPUT))
           (port D (direction INPUT))
           (port Q (direction OUTPUT))
           (port Qn (direction OUTPUT))
         )
         (contents
          (instance Clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance Q_3_i (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance Q_3 (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename QZ0 "Q") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename QnZ0 "Qn") (viewRef prim (cellRef DFN1P1 (libraryRef PA3)))
          )
          (instance Qn_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance D_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Reset_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Set_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename QZ0Z_3 "Q_3") (joined
           (portRef Y (instanceRef Q_3))
           (portRef D (instanceRef QZ0))
           (portRef A (instanceRef Q_3_i))
          ))
          (net Set_c (joined
           (portRef Y (instanceRef Set_pad))
           (portRef A (instanceRef Q_3))
          ))
          (net Set (joined
           (portRef Set)
           (portRef PAD (instanceRef Set_pad))
          ))
          (net Reset_c (joined
           (portRef Y (instanceRef Reset_pad))
           (portRef PRE (instanceRef QnZ0))
           (portRef CLR (instanceRef QZ0))
          ))
          (net Reset (joined
           (portRef Reset)
           (portRef PAD (instanceRef Reset_pad))
          ))
          (net Clk_c (joined
           (portRef Y (instanceRef Clk_pad))
           (portRef CLK (instanceRef QnZ0))
           (portRef CLK (instanceRef QZ0))
          ))
          (net Clk (joined
           (portRef Clk)
           (portRef PAD (instanceRef Clk_pad))
          ))
          (net D_c (joined
           (portRef Y (instanceRef D_pad))
           (portRef B (instanceRef Q_3))
          ))
          (net D (joined
           (portRef D)
           (portRef PAD (instanceRef D_pad))
          ))
          (net Q_c (joined
           (portRef Q (instanceRef QZ0))
           (portRef D (instanceRef Q_pad))
          ))
          (net Q (joined
           (portRef PAD (instanceRef Q_pad))
           (portRef Q)
          ))
          (net Qn_c (joined
           (portRef Q (instanceRef QnZ0))
           (portRef D (instanceRef Qn_pad))
          ))
          (net Qn (joined
           (portRef PAD (instanceRef Qn_pad))
           (portRef Qn)
          ))
          (net (rename Q_3_iZ0 "Q_3_i") (joined
           (portRef Y (instanceRef Q_3_i))
           (portRef D (instanceRef QnZ0))
          ))
         )
        (property orig_inst_of (string "_74HC74"))
       )
    )
  )
  (design (rename Z_74HC74 "_74HC74") (cellRef Z_74HC74 (libraryRef work)))
)
