(edif (rename Z_74HC161 "_74HC161")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2024 12 29 14 28 13)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + !C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell AOI1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B + !C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AND2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A & B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename Z_74HC161 "_74HC161") (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port CLK (direction INPUT))
           (port CLR (direction INPUT))
           (port ENP (direction INPUT))
           (port ENT (direction INPUT))
           (port (array (rename pre "PRE[3:0]") 4) (direction INPUT))
           (port (array (rename q "Q[3:0]") 4) (direction OUTPUT))
         )
         (contents
          (instance CLK_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance un1_Q_1_I_20 (viewRef prim (cellRef NOR2B (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un1_Q_1_I_22 (viewRef prim (cellRef NOR2B (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance ENP_pad_RNIIRDA (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename Q_RNIL8QN_1 "Q_RNIL8QN[1]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance (rename Q_RNIL8QN_3 "Q_RNIL8QN[3]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance ENP_pad_RNISC2Q1_0 (viewRef prim (cellRef AOI1B (libraryRef PA3)))          )
          (instance ENP_pad_RNISC2Q1 (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename Q_RNO_3 "Q_RNO[3]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Q_RNO_0_3 "Q_RNO_0[3]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename Q_RNO_1_3 "Q_RNO_1[3]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename Q_RNO_2 "Q_RNO[2]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename Q_RNO_1 "Q_RNO[1]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename Q_RNO_0 "Q_RNO[0]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename Q_RNO_0_2 "Q_RNO_0[2]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Q_RNO_0_1 "Q_RNO_0[1]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Q_RNO_0_0 "Q_RNO_0[0]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename QZ0Z_0 "Q[0]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename QZ0Z_1 "Q[1]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename QZ0Z_2 "Q[2]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename QZ0Z_3 "Q[3]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename Q_pad_3 "Q_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Q_pad_2 "Q_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Q_pad_1 "Q_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Q_pad_0 "Q_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename PRE_pad_3 "PRE_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename PRE_pad_2 "PRE_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename PRE_pad_1 "PRE_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename PRE_pad_0 "PRE_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance ENT_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance ENP_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance CLR_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance un1_Q_1_I_18 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un1_Q_1_I_16 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un1_Q_1_I_15 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un1_Q_1_I_13 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un1_Q_1_I_1 (viewRef prim (cellRef AND2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net I_15 (joined
           (portRef Y (instanceRef un1_Q_1_I_15))
           (portRef B (instanceRef Q_RNO_0_1))
          ))
          (net I_18 (joined
           (portRef Y (instanceRef un1_Q_1_I_18))
           (portRef B (instanceRef Q_RNO_0_2))
          ))
          (net I_16 (joined
           (portRef Y (instanceRef un1_Q_1_I_16))
           (portRef B (instanceRef Q_RNO_3))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net Q_1_sqmuxa (joined
           (portRef Y (instanceRef ENP_pad_RNISC2Q1_0))
           (portRef B (instanceRef un1_Q_1_I_1))
           (portRef B (instanceRef un1_Q_1_I_13))
          ))
          (net (rename Q_5_0 "Q_5[0]") (joined
           (portRef Y (instanceRef Q_RNO_0))
           (portRef D (instanceRef QZ0Z_0))
          ))
          (net (rename Q_5_1 "Q_5[1]") (joined
           (portRef Y (instanceRef Q_RNO_1))
           (portRef D (instanceRef QZ0Z_1))
          ))
          (net (rename Q_5_2 "Q_5[2]") (joined
           (portRef Y (instanceRef Q_RNO_2))
           (portRef D (instanceRef QZ0Z_2))
          ))
          (net (rename Q_5_3 "Q_5[3]") (joined
           (portRef Y (instanceRef Q_RNO_3))
           (portRef D (instanceRef QZ0Z_3))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net Q_5_sn_N_4_mux (joined
           (portRef Y (instanceRef ENP_pad_RNISC2Q1))
           (portRef B (instanceRef Q_RNO_0))
           (portRef B (instanceRef Q_RNO_1))
           (portRef B (instanceRef Q_RNO_2))
           (portRef B (instanceRef Q_RNO_1_3))
           (portRef B (instanceRef Q_RNO_0_3))
          ))
          (net N_27 (joined
           (portRef Y (instanceRef Q_RNO_0_0))
           (portRef A (instanceRef Q_RNO_0))
          ))
          (net N_28 (joined
           (portRef Y (instanceRef Q_RNO_0_1))
           (portRef A (instanceRef Q_RNO_1))
          ))
          (net N_29 (joined
           (portRef Y (instanceRef Q_RNO_0_2))
           (portRef A (instanceRef Q_RNO_2))
          ))
          (net (rename un1_Q_1_DWACT_ADD_CI_0_TMP_0 "un1_Q_1.DWACT_ADD_CI_0_TMP[0]") (joined
           (portRef Y (instanceRef un1_Q_1_I_1))
           (portRef B (instanceRef un1_Q_1_I_15))
           (portRef A (instanceRef un1_Q_1_I_20))
          ))
          (net (rename un1_Q_1_DWACT_ADD_CI_0_partial_sum_0 "un1_Q_1.DWACT_ADD_CI_0_partial_sum[0]") (joined
           (portRef Y (instanceRef un1_Q_1_I_13))
           (portRef B (instanceRef Q_RNO_0_0))
          ))
          (net (rename un1_Q_1_DWACT_ADD_CI_0_g_array_12_0 "un1_Q_1.DWACT_ADD_CI_0_g_array_12[0]") (joined
           (portRef Y (instanceRef un1_Q_1_I_22))
           (portRef B (instanceRef un1_Q_1_I_16))
          ))
          (net (rename un1_Q_1_DWACT_ADD_CI_0_g_array_1_0 "un1_Q_1.DWACT_ADD_CI_0_g_array_1[0]") (joined
           (portRef Y (instanceRef un1_Q_1_I_20))
           (portRef B (instanceRef un1_Q_1_I_18))
           (portRef A (instanceRef un1_Q_1_I_22))
          ))
          (net CLK_c (joined
           (portRef Y (instanceRef CLK_pad))
           (portRef CLK (instanceRef QZ0Z_3))
           (portRef CLK (instanceRef QZ0Z_2))
           (portRef CLK (instanceRef QZ0Z_1))
           (portRef CLK (instanceRef QZ0Z_0))
          ))
          (net CLK (joined
           (portRef CLK)
           (portRef PAD (instanceRef CLK_pad))
          ))
          (net CLR_c (joined
           (portRef Y (instanceRef CLR_pad))
           (portRef CLR (instanceRef QZ0Z_3))
           (portRef CLR (instanceRef QZ0Z_2))
           (portRef CLR (instanceRef QZ0Z_1))
           (portRef CLR (instanceRef QZ0Z_0))
          ))
          (net CLR (joined
           (portRef CLR)
           (portRef PAD (instanceRef CLR_pad))
          ))
          (net ENP_c (joined
           (portRef Y (instanceRef ENP_pad))
           (portRef B (instanceRef ENP_pad_RNIIRDA))
          ))
          (net ENP (joined
           (portRef ENP)
           (portRef PAD (instanceRef ENP_pad))
          ))
          (net ENT_c (joined
           (portRef Y (instanceRef ENT_pad))
           (portRef S (instanceRef Q_RNO_0_0))
           (portRef S (instanceRef Q_RNO_0_1))
           (portRef S (instanceRef Q_RNO_0_2))
           (portRef A (instanceRef Q_RNO_1_3))
           (portRef A (instanceRef ENP_pad_RNIIRDA))
          ))
          (net ENT (joined
           (portRef ENT)
           (portRef PAD (instanceRef ENT_pad))
          ))
          (net (rename PRE_c_0 "PRE_c[0]") (joined
           (portRef Y (instanceRef PRE_pad_0))
           (portRef A (instanceRef Q_RNO_0_0))
          ))
          (net (rename PRE_0 "PRE[0]") (joined
           (portRef (member pre 3))
           (portRef PAD (instanceRef PRE_pad_0))
          ))
          (net (rename PRE_c_1 "PRE_c[1]") (joined
           (portRef Y (instanceRef PRE_pad_1))
           (portRef A (instanceRef Q_RNO_0_1))
          ))
          (net (rename PRE_1 "PRE[1]") (joined
           (portRef (member pre 2))
           (portRef PAD (instanceRef PRE_pad_1))
          ))
          (net (rename PRE_c_2 "PRE_c[2]") (joined
           (portRef Y (instanceRef PRE_pad_2))
           (portRef A (instanceRef Q_RNO_0_2))
          ))
          (net (rename PRE_2 "PRE[2]") (joined
           (portRef (member pre 1))
           (portRef PAD (instanceRef PRE_pad_2))
          ))
          (net (rename PRE_c_3 "PRE_c[3]") (joined
           (portRef Y (instanceRef PRE_pad_3))
           (portRef A (instanceRef Q_RNO_0_3))
          ))
          (net (rename PRE_3 "PRE[3]") (joined
           (portRef (member pre 0))
           (portRef PAD (instanceRef PRE_pad_3))
          ))
          (net (rename Q_c_0 "Q_c[0]") (joined
           (portRef Q (instanceRef QZ0Z_0))
           (portRef A (instanceRef un1_Q_1_I_1))
           (portRef A (instanceRef un1_Q_1_I_13))
           (portRef D (instanceRef Q_pad_0))
           (portRef B (instanceRef Q_RNIL8QN_3))
          ))
          (net (rename Q_0 "Q[0]") (joined
           (portRef PAD (instanceRef Q_pad_0))
           (portRef (member q 3))
          ))
          (net (rename Q_c_1 "Q_c[1]") (joined
           (portRef Q (instanceRef QZ0Z_1))
           (portRef A (instanceRef un1_Q_1_I_15))
           (portRef D (instanceRef Q_pad_1))
           (portRef A (instanceRef Q_RNIL8QN_1))
           (portRef B (instanceRef un1_Q_1_I_20))
          ))
          (net (rename Q_1 "Q[1]") (joined
           (portRef PAD (instanceRef Q_pad_1))
           (portRef (member q 2))
          ))
          (net (rename Q_c_2 "Q_c[2]") (joined
           (portRef Q (instanceRef QZ0Z_2))
           (portRef A (instanceRef un1_Q_1_I_18))
           (portRef D (instanceRef Q_pad_2))
           (portRef B (instanceRef Q_RNIL8QN_1))
           (portRef B (instanceRef un1_Q_1_I_22))
          ))
          (net (rename Q_2 "Q[2]") (joined
           (portRef PAD (instanceRef Q_pad_2))
           (portRef (member q 1))
          ))
          (net (rename Q_c_3 "Q_c[3]") (joined
           (portRef Q (instanceRef QZ0Z_3))
           (portRef A (instanceRef un1_Q_1_I_16))
           (portRef D (instanceRef Q_pad_3))
           (portRef A (instanceRef Q_RNIL8QN_3))
          ))
          (net (rename Q_3 "Q[3]") (joined
           (portRef PAD (instanceRef Q_pad_3))
           (portRef (member q 0))
          ))
          (net Q_5_3_N_3_mux (joined
           (portRef Y (instanceRef Q_RNO_1_3))
           (portRef S (instanceRef Q_RNO_3))
          ))
          (net d_N_3_mux (joined
           (portRef Y (instanceRef Q_RNO_0_3))
           (portRef A (instanceRef Q_RNO_3))
          ))
          (net Q12_0 (joined
           (portRef Y (instanceRef Q_RNIL8QN_3))
           (portRef A (instanceRef ENP_pad_RNISC2Q1))
           (portRef B (instanceRef ENP_pad_RNISC2Q1_0))
          ))
          (net Q12_1 (joined
           (portRef Y (instanceRef Q_RNIL8QN_1))
           (portRef B (instanceRef ENP_pad_RNISC2Q1))
           (portRef A (instanceRef ENP_pad_RNISC2Q1_0))
          ))
          (net Q_5_sn_m2_0 (joined
           (portRef Y (instanceRef ENP_pad_RNIIRDA))
           (portRef C (instanceRef ENP_pad_RNISC2Q1))
           (portRef C (instanceRef ENP_pad_RNISC2Q1_0))
          ))
         )
        (property orig_inst_of (string "_74HC161"))
       )
    )
  )
  (design (rename Z_74HC161 "_74HC161") (cellRef Z_74HC161 (libraryRef work)))
)
